{{ $exercise_title := .Get "title" }} 
{{ $exercise_id := substr (replace $exercise_title " " "_") 0 }}
{{ $exercise_script := .Get "script" | default $exercise_id }}
{{ $form_id := delimit (shuffle (split (md5 "cyberrange") "" )) "" }}

<script src="/js/learners_form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<form id="{{ $form_id }}" class="form exercise-control">

  {{ .Inner }}

<button type="submit" class="btn-submit-form" value="">

<svg class="bi" width="22" height="22">
  <use xlink:href="#play"></use>
</svg>
submit
</button>

</form>
